#forgot_password:hover {
    cursor: pointer;

}

body {background-color: activecaption;}
body {background-color:scrollbar;}

.img-fluid {
    max-width: 100%;
    height: auto;
}

th {
    text-align: center;
    vertical-align: middle;
    font-size: 95%;
    padding: 15px;
    color:whitesmoke;
    background-color: black;

}

td{
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
    padding: 15px;
}


a:link {
    color: black;
    /*background-color: transparent;*/
    text-decoration: none;
    text-decoration: underline;
}

a:visited {
    color: black;
    /*background-color: transparent;*/
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#datatable {
    margin-left: auto;
    margin-right: auto;

}


.my_footer a:link {
    color:white;
    text-decoration: underline;
    font-size: 1.1em;

}

.my_footer a:visited {
    color: buttonshadow;
    text-decoration: underline;
    font-size: 1.2em;
}

.my_footer a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1.2em; 
}


